/* Shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
}
.section-title{
    color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}
/* Nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    ccolor: var(--Dark-01, #181818);

    font-size: 45px;
    font-weight: 800;
}

.text-orange {
    color: #FD6E0A;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 585px;
}
.banner-greeting{
    color:#474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 0px;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.profile-pic{
    width: 500px;
}
/* Main section */
main{
    max-width: 1140px;
    margin: 0  auto;
}
/* About section */
.about{
    border-radius: 10px;
background: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;

}