/* Shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
}

/* Nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    ccolor: var(--Dark-01, #181818);

    font-size: 45px;
    font-weight: 800;
}

.text-orange {
    color: #FD6E0A;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related styles */
.header{
    background: #FFF8F3;

}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 500px;
}